


/* ===== Тинькофф ===== */
:root {
  --bg:     #adeaff;
  --card:   #fff;
  --border: #fff;

  --text:   #000;
  --muted:  #bfc3c8;

  --accent: #43973b; /* фирменный жёлтый */
  --err:    #f6650a;

  --header-h: 64px;
}
