


/* ===== Тинькофф ===== */
:root {
  --bg:     #86130b;
  --card:   #14161a;
  --border: #24272d;

  --text:   #f7f7f7;
  --muted:  #bfc3c8;

  --accent: #FFDD2D; /* фирменный жёлтый */
  --err:    #ff8a8a;
}
